<%= render template: "component/_header_admins.html.erb"%>

<div id='entries-edit__container' class='col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='header-container'>
        <h2> EDIT FEED </h2>
    <!-- div .header-container -->
    </div>
    <div class='content-container'>
        <%= form_for @feed do |f| %>
            <div class='row'>
                <div class='col-md-8 col-sm-8 col-xs-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2'>
                    <div class='form-group'>
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control'%><br/>
                    </div>

                    <div class='form-group'>
                        <%= f.label :url %>
                        <%= f.text_field :url, class: 'form-control' %><br/>
                    </div>

                    <div class='form-group'>
                        <%= f.label :description %>
                        <%= f.text_field :description, class: 'form-control' %><br/>
                    </div>

                    <%= f.submit 'Save Changes', class: 'btn btn-success pull-right' %>
                <!-- div .col-md-8 col-sm-8 col-xs-8 col-lg-8 -->
                </div>
            <!-- div .row -->
            </div>
        <% end %>
    <!-- div .content-container -->
    </div>
<!-- div .col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2 -->
</div>
