<div class='row'>
    <% entries.each do |entry| %>
        <div class='each-entry' news-id="<%=entry.id%>">
            <%=image_tag "#{entry.image_url}", class: "image-entry"%>


            <div class='entry-column'>
                <%= link_to entry.entries_url, class: 'entry-title', target: '_blank' do %>
                    <h4><%= entry.title %></h4>
                <% end %>
                <div class='row entry-info'>
                    <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'>
                        <%=link_to entry.feed.url, target: '_blank' do %>
                            <%= entry.feed.name %> - <%= entry.author%>
                        <% end %>
                    </div>
                <!-- div .row entry-info -->
                </div>
                <div><%= entry.content%>&nbsp;&nbsp;<%=link_to 'Read More', entry.feed.url %></div>
            </div>
        </div>
    <% end %>
<!-- .div row -->
</div>
