<%= render template: "component/_public_header"%>

<div class='page-content col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='content-container'>
        <div class='trending-news'>
            <div class='row'>
                <div class='col-md-7 col-lg-7 col-xs-12 col-sm-12'>
                    <%= image_tag "#{@first_entry.image_url}", class: 'trending-image' %>
                </div>

                <div class='col-md-5 col-lg-5 col-xs-12 col-sm-12'>
                    <%= link_to @first_entry.entries_url, class: 'trending-title' do %>
                        <h2><%= @first_entry.title %></h2>
                    <% end %>

                    <div class='row entry-info'>
                        <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6'>
                            <%=link_to "#{@first_entry.feed.name}", @first_entry.feed.url %>
                        </div>

                        <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pull-right'>
                            <%= @first_entry.author%>
                        </div>
                    </div>

                    <p><%= @first_entry.content%></p>
                </div>
            <!-- div .row -->
            </div>
        <!-- div .trending-news -->
        </div>
        <div class='news'>
            <%= render template: "entries/_entry" %>
          <!-- div .news -->
        </div>

        <%= link_to "Load Me More News", news_path, class: "load-more" %>
    <!-- div .content-container -->
    </div>
<!-- div .page-content col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1-->
</div>
