<%= render template: "api/v1/component/_public_header"%>

<div class='page-content col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='content-container'>
        <div class='trending-news'>
            <div class='row'>
                <div class='col-md-7 col-lg-7 col-xs-12 col-sm-12'>
                    <%= image_tag "#{@entries.first.image_url}", class: 'trending-image' %>
                </div>

                <div class='col-md-5 col-lg-5 col-xs-12 col-sm-12'>
                    <%= link_to @entries.first.entries_url, class: 'trending-title' do %>
                        <h2><%= @entries.first.title %></h2>
                    <% end %>

                    <div class='row entry-info'>
                        <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6'>
                            <%=link_to "#{@entries.first.feed.name}", @entries.first.feed.url %>
                        </div>

                        <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pull-right'>
                            <%= @entries.first.author%>
                        </div>
                    </div>

                    <p><%= @entries.first.content%></p>
                </div>
            <!-- div .row -->
            </div>
        <!-- div .trending-news -->
        </div>

        <div class='news'>
            <% @entries_array.each do |entries| %>
                <div class='row'>
                    <% entries.each do |entry| %>
                        <div class='each-entry'>
                            <%=image_tag "#{entry.image_url}", class: "image-entry"%>

                            <div class='row entry-info'>
                                <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6'>
                                    <%=link_to entry.feed.url do %>
                                        <p> <%= entry.feed.name %> </p>
                                    <% end %>
                                </div>
                                <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6'>
                                    <p class= 'author'><%= entry.author%> </p>
                                </div>
                            <!-- div .row entry-info -->
                            </div>
                            <div class='entry-content'>
                                <%= link_to entry.entries_url, class: 'entry-title' do %>
                                    <h4><%= entry.title %></h4>
                                <% end %>
                                <p><%= entry.content%>&nbsp;&nbsp;<%=link_to 'Read More', entry.feed.url %></p>
                            </div>
                        </div>
                    <% end %>
                <!-- .div entries-array -->
                </div>
            <% end %>
        </div>
    <!-- div .content-container -->
    </div>
<!-- div .page-content col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1-->
</div>
