<%= render template: "component/_public_header"%>
<div class='page-content col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='content-container'>
        <div class='trending-news'>
            <div class='row'>
                <div class='col-md-7 col-lg-7 col-xs-12 col-sm-12'>
                    <%= image_tag "#{@first_entry.image_url}", class: 'trending-image' %>
                </div>

                <div class='col-md-5 col-lg-5 col-xs-12 col-sm-12'>
                    <%= link_to @first_entry.entries_url, class: 'trending-title', target: '_blank' do %>
                        <h2><%= @first_entry.title %></h2>
                    <% end %>

                    <span class='row entry-info col-md-12 col-lg-12 col-xs-12 col-sm-12'>
                        <%=link_to "#{@first_entry.feed.name} - #{@first_entry.author}", @first_entry.feed.url, target: '_blank' %>
                    </span>

                    <div><%= @first_entry.content%></div>
                </div>
            <!-- div .row -->
            </div>
        <!-- div .trending-news -->
        </div>

        <div class='tips row'>
            <% @tips.each do |tip| %>
                <div class='each-entry'>
                    <%=image_tag "#{tip.image_url}", class: "image-entry"%>


                    <div class='entry-column'>
                        <% if tip.gadup_tip %>
                            <%= link_to tips_path(tip.gadup_tip.id), class: 'entry-title', target: '_blank' do %>
                                <h4><%= tip.title %></h4>
                            <% end %>
                        <% else %>
                            <%= link_to tip.entries_url, class: 'entry-title', target: '_blank' do %>
                                <h4><%= tip.title %></h4>
                            <% end %>
                        <%end %>
                        <div class='row entry-info'>
                            <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'>
                                <%=link_to tip.feed.url, target: '_blank' do %>
                                    <%= tip.feed.name %> - <%= tip.author%>
                                <% end %>
                            </div>
                        <!-- div .row entry-info -->
                        </div>
                          <% if tip.gadup_tip %>
                              <%= tip.content%> &nbsp;&nbsp; <%= link_to 'Read More', tips_path(tip.gadup_tip.id) %>
                          <% else %>
                              <%= tip.content%> &nbsp;&nbsp; <%= link_to 'Read More', tips_path(tip.entries_url) %>
                          <%end %>
                    <!-- .entry-column -->
                    </div>
                <!-- .each-entry -->
                </div>
            <% end %>
        <!-- .tips row -->
        </div>

        <div class='news'>
            <% @entries.each do |entries| %>
                <%= render 'entry', entries: entries %>
            <% end %>
          <!-- div .news -->
        </div>

        <%= link_to "More News", news_path, class: "load-more" %>
    <!-- div .content-container -->
    </div>
<!-- div .page-content col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1-->
</div>
<%= render template: "component/_footer"%>
