<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <center>
    <h4> Silahkan Masukkan Nama, Email dan Password anda </h4>
  </center>
  <%= form_for @user do |form| %>
    <%= form.label :first_name%>
    <%= form.text_field :first_name%></br>

    <%= form.label :last_name%>
    <%= form.text_field :last_name%></br>

    <%= form.label :email%>
    <%= form.text_field :email%></br>

    <%= form.label :password %>
    <%= form.password_field :password %></br>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %></br>

    <%= form.submit %>
  <% end %>
</div>
