<%= render template: "component/_headers"%>

<div class='dashboard-container col-md-10 col-sm-10 col-lg-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-lg-offset-1'>
    <div class='dashboard-header'>
        <h2 class='dashboard-header-context'> Dashboard <small> Statistic Overview </small></h2>
    <!-- div .dashboard-head -->
    </div>
    <div class='row'>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-primary'>
                <div class="panel-heading">
                    <i class="fa fa-building panel-icons" aria-hidden="true"></i>
                    Favorite Places
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-green'>
                <div class="panel-heading">
                    <i class="fa fa-diamond panel-icons" aria-hidden="true"></i>
                    My Incomes
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-green -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-yellow'>
                <div class="panel-heading">
                    <i class="fa fa-external-link panel-icons" aria-hidden="true"></i>
                    My Spendings
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-black'>
                <div class="panel-heading">
                    <i class="fa fa-balance-scale panel-icons" aria-hidden="true"></i>
                    Wallet Settings
                </div>
                <div class="panel-body">
                  <%= link_to user_wallet_wallet_settings_path(@user, @wallet) do %>
                      View Details
                      <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  <% end %>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
    <!-- div .row -->
    </div>
<!-- div #dashboard-container -->
</div>

<div id='dashboard-wallet-news' class='col-md-10 col-sm-10 col-lg-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-lg-offset-1'>
    <div class='dashboard-container col-md-8 col-lg-8 col-sm-8 col-xs-12'>
        <div class='head-content'>
            <h3> My Wallet </h3>
        </div>
    <!-- div #dashboard-wallet -->
    </div>

    <div class='dashboard-container col-md-4 col-lg-4 col-sm-4 hidden-xs'>
        <div class='head-content'>
            <h3 align='center'> News </h3>
        </div>
        <div class='news-content'>
            <% @entries_array.each do |entries| %>
                <div class='row'>
                    <% entries.each do |entry| %>
                        <div class='col-md-6 col-lg-6 col-sm-6'>
                          <%=image_tag "#{entry.image_url}", class: "news-image"%>


                          <div class='entry-column'>
                              <%= link_to entry.entries_url, class: 'news-title', target: '_blank' do %>
                                  <h4><%= entry.title %></h4>
                              <% end %>
                          </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <!-- div #dashboard-news -->
    </div>
</div>
