<%= render template: "component/_headers"%>

<div id='dashboard-head-container' class='col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1'>
    <div class='personal-info'>
        <div class='profpic-container'>
            <%if current_authenticatee.gender == 1 %>
                <%=image_tag('male-avatar.png', class: 'profile-picture') %>
            <% else %>
                <%=image_tag('female-avatar.png', class: 'profile-picture') %>
            <% end %>
        </div>
        <div class='info-container'>
            <h3> <%= current_authenticatee.full_name %> </h3>
            <p class='user-time__join'> joined at: <%= current_authenticatee.created_at.strftime("%B %d, %Y") %> </p>
            <p> Results For: </p>
            <%= search_form_for(@q, url: "/dashboard/#{@user.id}/#{@user.full_name}", method: :get) do |f| %>

                <p> from </p> <%= f.date_select :spending_time_gteq %>

                <p> to </p> <%= f.date_select :spending_time_lteq %>
                <%= f.submit %>

            <% end %>
        </div>
    </div>
<!-- #dashboard-personal-info -->
</div>

<div>
  <% @spendings.each do |spending| %>
      <%= spending.nominal %>
  <% end %>
</div>
