<center>
  <h2> Hello Admin </h2>
  <h3> Lets Help People to Make Their Life Better </h3>
</center>

<div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" id='welcome-user-action'>
        <div class='row'>
            <div class='col-md-12 col-xs-12 col-sm-12'>
                <center>
                    <h4> Silahkan Masukkan Email dan Password anda </h4>
                </center>

                <%= form_tag auth_admins_path do %>
                    <%= label_tag :email%>
                    <%= text_field_tag :email%></br>

                    <%= label_tag :password %>
                    <%= password_field_tag :password %>
                    <div class="actions"><%= submit_tag "Log In" %></div>
                <% end %>

            </div>
        <!-- div .row -->
        </div>
    <!-- div #welcome-user-action -->
    </div>
<!-- div .container -->
</div>
