<div class='auth-page__container col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='auth-page__header'>
        <center>
            <%=image_tag 'big-logo.png', class: 'image-header__auth'%>
            <h3> Asisten pribadi untuk managemen keuangan dan aktivitas anda </h3>
        </center>
    </div>

    <div class="auth-page__actions">
        <div class='header__container'>
            <h3> Masuk ke Gadup </h3>
        </div>

        <div class='row'>
            <div class='col-md-6 col-xs-12 col-sm-12 col-lg-6'>
              <h4> Masuk Dengan Social Media </h4>
            </div>

            <div class='col-md-6 col-xs-12 col-sm-12 col-lg-6'>
                <center>
                    <h4> Masuk Dengan Email </h4>
                </center>

                <%= form_tag v1_auth_users_path do %>
                    <div class='form-group'>
                        <%= label_tag :email%>
                        <%= text_field_tag :email, "", class: 'form-control'%></br>
                    </div>

                    <div class='form-group'>
                        <%= label_tag :password %>
                        <%= password_field_tag :password, "", class: 'form-control' %>
                    </div>
                    <div class="actions">
                        <%= submit_tag "Log In" %>
                    </div>
                <% end %>

            </div>
            <%=link_to "bergabung dengan email pribadi", new_v1_user_path %>
        <!-- div .row -->
        </div>
    <!-- div .container auth-page__actions -->
    </div>
<!-- div .auth-page__container -->
</div>
