<div class='auth-page__container col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2'>
    <div class='auth-page__header'>
        <center>
            <%=image_tag 'big-logo.png', class: 'image-header__auth'%>
        </center>
    </div>

    <div class="login-container">

        <div class='row'>
            <div class='col-md-12 col-xs-12 col-sm-12 col-lg-12'>

                <%= form_tag auth_users_path do %>
                    <div class='form-group'>
                        <%= label_tag :email%>
                        <%= text_field_tag :email, "", class: 'form-control'%></br>
                    </div>

                    <div class='form-group'>
                        <%= label_tag :password %>
                        <%= password_field_tag :password, "", class: 'form-control' %>
                    </div>
                    <div class="actions">
                        <%= submit_tag "Log In" %>
                    </div>
                    <%=link_to "Daftar Akun Baru", new_user_path %>
                <% end %>

            </div>
        <!-- div .row -->
        </div>
    <!-- div .container auth-page__actions -->
    </div>
<!-- div .auth-page__container -->
</div>
