<%= render template: "component/_headers"%>
<%= render template: "component/_dashboardnav.html.erb"%>

<div id="transaction-containers" class='col-md-10 col-sm-10 col-lg-10 col-xs-12'>
    <div class='dashboard-header'>
        <h2 class='dashboard-header-context'> TRANSACTIONS <small> Full Overview </small></h2>
    <!-- div .dashboard-header -->
    </div>
    <div class='row'>
        <div class='col-md-6 col-sm-12 col-lg-6 col-xs-12'>
            <div class='panel panel-green'>
                <div class="panel-heading">
                    <i class="fa fa-diamond panel-icons" aria-hidden="true"></i>
                    Incomes
                </div>
                <div class="panel-body">
                    <a href='#' data-toggle='modal' data-target="#incomeModal">
                      Add Income Information
                      <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                    </a>

                    <%= render template: 'component/_add_income'%>

                <!-- div. panel-body -->
                </div>
            <!-- div .panel panel-green -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-12 col-lg-6 col-xs-12'>
            <div class='panel panel-yellow'>
                <div class="panel-heading">
                    <i class="fa fa-external-link panel-icons" aria-hidden="true"></i>
                    Spendings
                </div>
                <div class="panel-body">
                  <a href='#' data-toggle='modal' data-target="#spendingModal">
                    Add Spendings Information
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>

                  <%= render template: 'component/_add_spending'%>

            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
    <!-- div .row -->
    </div>
    <div class='page-content'>
        <div class='col-lg-6 col-sm-6 col-md-12 col-xs-12'>
            <h3 class='transactions-header-content'>
                Incomes
            </h3>
            <div class='transactions-body'>
                <div class='table-responsive'>
                    <table class='table table-hover table-bordered'>
                        <thead>
                            <tr>
                                <th> Date</th>
                                <th> Nominal </th>
                                <th> Description </th>
                                <th> Tipe Transaksi </th>
                            </tr>
                        </thead>

                        <% if !@wallet.incomes.empty? %>
                            <tbody>
                                <% @wallet.incomes.each do |income| %>
                                    <tr>
                                        <td><%=income.transaction_time.to_date.strftime("%d-%m-%Y")%></td>
                                        <td><%=amount_to_rupiah(income.nominal)%></td>
                                        <td><%=income.description%></td>
                                        <% if income.classification %>
                                            <td>Prioritas</td>
                                        <% else %>
                                            <td> Non-Prioritas</td>
                                        <% end %>
                                    </tr>
                                <% end %>
                          </tbody>

                        <% end %>
                    </table>
                <!-- div .table-responsive -->
                </div>
                <div class='no-transactions'>
                    <% if @wallet.incomes.empty? %>
                        <p align='center'> YOU DONT HAVE ANY TRANSACTIONS YET </p>
                    <% end %>
                </div>
            <!-- div .transactions-body -->
            </div>
        </div>

        <div class='col-lg-6 col-sm-6 col-md-12 col-xs-12'>
            <h3 class='transactions-header-content'>
                Spendings
            </h3>
            <div class='transactions-body'>
                <div class='table-responsive'>
                    <table class='table table-hover table-bordered'>
                      <thead>
                          <tr>
                              <th align='center'> Nominal </th>
                              <th align='center'> Date</th>
                              <th align='center'> Description </th>
                              <th> Tipe Transaksi </th>
                          </tr>
                      </thead>
                        <% if !@wallet.spendings.empty?%>
                            <tbody>
                                <%@wallet.spendings.each do |spending|%>
                                    <tr>
                                        <td><%=spending.spending_time.to_date.strftime("%d-%m-%Y")%></td>
                                        <td><%=amount_to_rupiah(spending.nominal)%></td>
                                        <td><%=spending.description%></td>
                                        <% if spending.classification %>
                                            <td>Prioritas</td>
                                        <% else %>
                                            <td> Non-Prioritas</td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        <% end %>
                    </table>
                <!-- div .table responsive -->
                </div>
                <div id='no-transactions'>
                    <% if @wallet.spendings.empty? %>
                        <p align='center'> YOU DONT HAVE ANY TRANSACTIONS YET </p>
                    <% end %>
                </div>
            <!-- div .transactions-body -->
            </div>
        </div>
    <!-- div .page-content -->
    </div>
<!-- div #transaction-containers -->
</div>
