<div id='footer' class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
    <div class='container'>
        <div class='clearfix row'>
            <div class='col-lg-7 col-md-7 col-sm-7'>
                <p class='footer-title'> Gadup </p>
                <p class='footer-content'> Gadup memberikan kalian layanan penting dalam membangun fundamental anda untuk meningkatkan kematangan finansial anda. Produk kami berawal dari bertia berhubungan dengan bisnis dan finansial, hingga tips dan fitur manajemen personal finansial anda </p>
            </div>

            <div class='col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1'>
                <div class='box'>
                    <p> Ikuti kami di: </p>
                        <%=link_to "https://www.facebook.com/GadupIndonesia" do %>
                            <%=image_tag('facebooklogo.png', class: 'social-icon') %>
                        <% end %>
                    <%=image_tag('instagram.png', class: 'social-icon') %>
                    <%=image_tag('twittericon.png', class: 'social-icon') %>

                    <hr class='mt-15 mb-15'>

                    <p> Gadup akan tersedia di </p>
                    <div class='row'>
                        <%=image_tag('app-store.png', class: 'mobile-app') %>
                        <%=image_tag('google-play.png', class: 'mobile-app') %>
                    </div>
                </div>
            </div>
        <!-- .clearfix -->
        </div>
    <!-- .container -->
    </div>
<!-- #footer -->
</div>
